vti_encoding:SR|utf8-nl
vti_author:SR|ET\\student
vti_modifiedby:SR|ET\\student
vti_timelastmodified:TR|23 May 2017 16:08:51 -0000
vti_timecreated:TR|23 May 2017 16:08:51 -0000
vti_cacheddtm:TX|23 May 2017 16:08:52 -0000
vti_filesize:IR|2559
vti_cachedlinkinfo:VX|Q|layout.css S|../images/background.gif
vti_cachedsvcrellinks:VX|FQUS|styles/layout.css FSUS|images/background.gif
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|
